body {
    font-family: 'Overpass', sans-serif;
    margin: 5px;
    padding: 5px;
    background-color:#282828;
}

header {
    text-align: center;
}

.logo {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover,
nav a.active {
    border-bottom: 2px solid white;
}
nav a.active {
    color: black;
}

nav a.active{
    border-bottom: 2px solid white;
}

nav a.hover,
nav a.hover {
    background-color: transparent;
    overflow: hidden;
}

.group {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 3%;
}

.OBalbum {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 3%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    color: white;
    text-align:center;
    font-size: 40px;
}

p {
    color: white;
    text-align:center;
    font-size: 30px;
}

p.album-title {
    font-weight: bold;
}

.description {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}